/**/*.zip
/**/*.tgz
/**/node_modules
/**/dist
/zipped_services
/intrafox/mockserver.log
/**/*.tgz
/intrafox/*.log
/intrafox/CertificateAuthorityCertificate.pem
/antragsnr/disttests
/csv/disttests
/fieldtofile/disttests
/ics/disttests
/intrafox/disttests
/math/disttests
/mssql/disttests
/mysql/disttests
/report/disttests
/roxFile/disttests
/sap/disttests
/servicetemplate/disttests
/startinstance/disttests
/noop/disttests
