name: Dependency Update Check
on:
  schedule:
    # The "*" character has special semantics in YAML, so this string has to be quoted
    # Execute Thursdays every 30 minutes
    - cron: '0/30 5-19 * * 4'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Renovate
        uses: renovatebot/github-action@v46.1.2
        with:
          configurationFile: renovate.config.js
          token: ${{ secrets.RENOVATE_TOKEN }}